/* Estilos para o tema claro (padrão) */
:root {
    --bg-color: #f0f0f0; /* Fundo claro */
    --bg-light: #ffffff; /* Fundo ainda mais claro */
    --font-color: #333333; /* Texto escuro */
    --font-light: #000000; /* Texto mais escuro */
    --button-bg: #007BFF; /* Fundo do botão azul */
    --button-color: #ffffff; /* Texto do botão branco */
    --link-color: #007BFF; /* Links azul */
    --link-btn: #0056b3; /* Cor do link ativo azul mais escuro */
  }
  
  /* Estilos para o tema escuro */
  .lightMode {
    --bg-color: #1c1c1c; /* Fundo escuro */
    --bg-light: #333333; /* Fundo mais claro no modo escuro */
    --font-color: #cccccc; /* Texto claro */
    --font-light: #ffffff; /* Texto mais claro */
    --button-bg: #007BFF; /* Fundo do botão azul */
    --button-color: #ffffff; /* Texto do botão branco */
    --link-color: #1E90FF; /* Links azul claro */
    --link-btn: #87CEEB; /* Cor do link ativo azul céu */
  }
  
  /* Estilos gerais (comuns a ambos os temas) */
  body {
    color: var(--font-light);
    font-family: "Mukta", sans-serif;
    background-color: var(--bg-color);
    transition: all 500ms;
  }
  
  p {
    color: var(--font-color);
  }
  
  .container {
    max-width: 1200px;
    display: block;
    margin: auto;
    padding: 0 1rem;
  }
  
  .highlight {
    color: var(--font-light);
  }
  
  .btn {
    padding: 10px 30px;
    border: 3px solid var(--font-light);
    transition: all 250ms;
  }
  
  .btn:hover {
    color: var(--bg-color);
    background-color: var(--font-light);
  }
  
  nav {
    background-color: var(--primary);
  }
  
  nav .container {
    display: block;
    padding: 2rem 1.5rem;
    margin: 2rem auto;
    text-align: center;
  }
  
  nav .nav-links .nav-item {
    list-style: none;
    display: inline;
    border-radius: 0.25rem;
    line-height: 1.5rem;
    padding: 0.5rem 0.75rem;
    margin: 1rem;
    transition: all 250ms;
    cursor: pointer;
  }
  
  nav .nav-links .active {
    font-weight: 700;
    color: var(--link-btn);
  }
  
  nav .nav-links .nav-item:hover {
    background-color: var(--bg-light);
  }
  
  a {
    text-decoration: none;
    color: var(--link-btn);
  }
  
  .hero {
    max-width: 650px;
    margin: 3rem auto;
    padding-top: 1rem;
    padding-bottom: 3rem;
    text-align: center;
  }
  
  .hero-info h2 {
    margin: 1rem 0;
    font-weight: 400;
  }
  
  .hero-tag {
    font-size: 2rem; /* ou outro tamanho mais apropriado */
    font-weight: 600;
    margin: 1rem 0;
  }
  
  .hero-abt {
    line-height: 1.5rem;
    margin: 3rem auto;
    max-width: 500px;
    padding: 1rem; /* Adicione um espaçamento interno para o elemento */
  }
  
  /* Estilos para o componente .card */
  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Alinha os cards ao centro */
    gap: 1rem; /* Espaço entre os cards */
    padding: 1rem; /* Espaçamento interno */
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    background-color: var(--bg-light); /* Usar a cor de fundo claro */
    flex: 1 1 calc(33.333% - 2rem); /* Tornar os cards flexíveis */
    margin: 1rem;
  }
  
  .title {
    color: var(--font-color); /* Usar a cor da fonte principal */
    font-size: 18px;
  }
  
  button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: var(--button-color); /* Usar a cor da fonte do botão */
    background-color: var(--button-bg); /* Usar a cor de fundo do botão */
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  button:hover, a:hover {
    opacity: 0.7;
  }
  